body {
  background: #FFF6E3;
}

h1,h2,h3,h4,h5,h6 {
  color: #413D45;
}

.row {
  margin-top: 24px;
}

/*.btn {*/
/*  border-radius: 1rem;*/
/*}*/

.card {
  border-radius: 1rem;
}

.card-body {
  margin: 2rem 4rem 2rem 4rem;
}

.my-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}